main{
    background: #9ab5ff;    
    background-repeat: repeat;
    background-size: cover;
    color: rgb(235, 235, 235);
    width: auto;
    height: auto;
    border: none;
}
body{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
#menu{
    display: inline-flex;
    padding: 5% 10%;    
}

.linea-titulo{
    border-bottom: 4px solid orange;
}

.linea-mayor{
    background: orange;
    width:150px;
    height: 3px;
    padding-top: 1px;
}

.linea{
    width: 250px;
    border-bottom: 2px solid orange;
    border-right: 2px solid orange;
}

.menu-izquierdo, .menu-derecho{    
    text-align: left;
    width: 300px;
    padding: 20px;
    height: 600px;
    margin-right: 15px;
    border-radius: 50px;
    background: linear-gradient(145deg, #052279, #9ab5ff);
    box-shadow:  0px 0px 30px #cbd9ff,
             0px 0px 30px #cbd9ff;
}

#foto-perfil{
    width: 150px;
    border-radius: 150px;
    background-color: #9ab5ff;
    box-shadow:  0px 0px 10px #cbd9ff,
             0px 0px 10px #cbd9ff;
}

.menu-izquierdo img{
    width: 20px;
}

.menu-izquierdo img,p{
    display: inline-block;
}


.ancle{
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.ancle:hover{
    color: #ff7300;
    text-decoration: none;
}

.menu-derecho{
    width: 700px;
    padding: 50px 0 0 0;
    height: 600px;
    text-align: center;
}

.menu-derecho div h4{
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0;
}

.menu-seleccionable button{
    border-radius: 1em;
    background-color: #f3994fa7;
    padding: 0;
    border: 3px;
    cursor: pointer;
}


.menu-seleccionable button :hover{
    border-radius: 1em;
    cursor: pointer;
    background-color: #f97102;
}

.menu-seleccionable h4{
    color: rgb(235, 235, 235);
    padding: 5px;
}
#informacion section {
    display: none;
}
#informacion #sobre-mi{
    display: block;
}
#sobre-mi h2{
    margin: 50px 30px;
}

#experiencia{
    margin: 5%;
}

#experiencia div .sistemas{
    display: block;
    
}
.sistemas, .tcuatro, .ttres, .tdos, .tuno{
    padding-left: 5%;
}

#experiencia div{
    text-align: left;
}
#experiencia div div{
    display: none;
}
.btn-experiencia{
    color: rgb(235, 235, 235);
    background: none;
    border: 0;
    cursor: pointer;
    text-decoration: underline #f3994fa7;
}

.btn-experiencia:hover{
    color: #ff7300;
    cursor: pointer;
}

#informacion #portafolio{
    padding: 50px;
    
}

#portafolio div button{
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(235, 235, 235);
}

#portafolio button:hover{
    text-decoration: underline 2px #ff7300a7;
}

#ahorcado > img {
    width: 150px;
    height: 150px;
}

#ahorcado, #encriptador, #numsecreto, #barberia, #spa{
    width: auto;
    display: none;
}

#encriptador img{
    width: 50%;
    display: inline;
}

#numsecreto img{
    width: 50%;
    display: inline;
}

#barberia img{
    width: 50%;
    display: inline;
}

#spa img{
    width: 50%;
    display: inline;
}

#certificados{
    text-align: left;
    padding-left: 80px;
    padding-top: 50px;
}

#certificados button{
    text-align: left;
    padding: 0;
    margin: 0px;
    margin-top: 1em;
    border: 0px;
    background: none;
    color: rgb(235, 235, 235);
    display: block;
    cursor: pointer;
}

#certificados button:hover{
    color: #ff7300;
}

#certificados h5{
    padding: 0;
    margin: 5px 0 0 50px;
}

#certificados div{
    display: none;
}
#recomendaciones div{
    display: flex;
    margin: 5% 0 0 10%;
}
#recomendaciones img{
    width: 80px;
    border-radius: 150px;
}
#recomendaciones div h6{
    margin: 5px 20px ;
}

@media only screen and (min-width: 320px) and (max-width: 1180px) {
    #menu{
        display: block;
    }

    .menu-izquierdo{    
        width: auto;
        margin-bottom: 5%;
        height: min-content;
    }
    .menu-derecho{    
        width: auto;
        height: 700px;
        margin-bottom: 5%;
    }
    .menu-seleccionable button{  
        margin: 2px;

    }
    #sobre-mi h2{
        margin: 5%;
        font-size: 14px;
    }
    #recomendaciones{
        overflow-y: scroll;
        height: 500px;
        margin-top: 10%;
        scrollbar-width: thin;
    }
    
    #recomendaciones div{
        display: inline;
        margin: 0 0 0 0;
    }
    
}

@media (max-width: 850px){
    
#menu-contacto{
    display: none;
}
}

@media (min-width: 850px){
    
    #contacto{
        display: none;
    }
    }